<%= form_with(model: registration) do |form| %>
  <% if registration.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(registration.errors.count, "error") %> prohibited this registration from being saved:</h2>

      <ul>
        <% registration.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :ルーム名 %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :ルーム紹介 %>
    <%= form.text_area :introduction %>
  </div>

  <div class="field">
    <%= form.label :料金 %>
    <%= form.number_field :price %>
  </div>

  <div class="field">
    <%= form.label :住所 %>
    <%= form.text_area :address %>
  </div>

  <div class="field">
    <%= form.label :イメージ %>
    <%= form.file_field :image %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
