  <header class = "new_header">
<%= search_form_for @q do |f| %>
<%= f.search_field :name_or_address_or_introduction_or_price_cont, placeholder:"キーワード" %>

  <%= f.submit "検索" %>
<% end %>

<%= search_form_for @q do |f| %>
  <%= f.search_field :address_cont, placeholder:"エリア" %>

  <%= f.submit "検索" %>
<% end %>
</header>

<div class ="main_body">
  <body>
    <div class = "free_sarch">
    <p>
    Potepan Shareで<br>まだ体験したことのない旅をしよう
   </p>
   
    <%= search_form_for @q do |f| %>
  <%= f.search_field :name_or_address_or_introduction_or_price_cont, placeholder:"エリア" %>

  <div class = "search_button" ><%= f.submit "探す" %></div>
<% end %>
   </div>
  </body>
</div>

<div class ="sub_body">
  <body>
    <h1>おすすめのエリア</h1>
    <div class ="contain">
      <div class ="individual_items">
        <span>東京</span>
      <a href ="">
      <img src ="https://www.jukushin.com/wp-content/uploads/2012/05/350a09baa9a90589dbce421039fe274a.jpg" alt ="東京について">
      </a>
      </div>
      <div class ="individual_items">
        <span>大阪</span>
      <a href ="">
      <img src ="https://gahag.net/img/201605/25s/gahag-0089691144-1.jpg" alt ="大阪について">
      </a>
      </div>
      <div class ="individual_items">
        <span>京都</span>
      <a href ="">
      <img src ="https://publicdomainq.net/images/201705/06s/publicdomainq-0008766fuw.jpg" alt ="京都について">
      </a>
      </div>
      <div class ="individual_items">
        <span>札幌</span>
      <a href ="">
      <img src ="https://www.photock.jp/photo/middle/photo0000-1892.jpg" alt ="札幌について">
      </a>
      </div>
    </div>
  </body>
</div>

<div class ="room_table">
<p id="notice"><%= notice %></p>

<h1>登録済みルーム一覧</h1>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>ルーム名</th>
      <th>ルーム紹介</th>
      <th>料金</th>
      <th>住所</th>
      <th>ルーム画像</th>
      <th>確認</th>
      <th>更新</th>
      <th>削除</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @registrations.each do |registration| %>
      <tr>
        <td><%= registration.id %></td>
        <td><%= registration.name %></td>
        <td><%= registration.introduction %></td>
        <td><%= registration.price %></td>
        <td><%= registration.address %></td>
        <td><%= image_tag registration.image %></td>
        <td><%= link_to '確認', registration %></td>
        <td><%= link_to '更新', edit_registration_path(registration) %></td>
        <td><%= link_to '削除', registration, method: :delete, data: { confirm: '本当に削除しますか？' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'ルーム新規登録', new_registration_path %>
</div>